.container {
  display: flex;
  flex-direction: column; 
  gap: 5px;
  
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  background-color: #cfb8ee; /* Optional background */
}
AppName{
  font-size: 2em;
  font-weight: bold;
  color: #4b0082;
}

